/* Default Nursing styles */


/**
 * 0.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */
 
/* Clearing floats */
.home-academics:after,
.colorblock-header:after,
.widget-nav-tabs .widget_custom_menu_wizard:after {
	clear: both;
}

.home-academics:before,
.home-academics:after,
.colorblock-header:before,
.colorblock-header:after,
.widget-nav-tabs .widget_custom_menu_wizard:before,
.widget-nav-tabs .widget_custom_menu_wizard:after {
    content: "";
    display: table;
} 
 
code {
	display: block;
	background: #f8f8f8;
	padding: 30px;
}


/* Buttons */

.button-gold,
.button-gold:visited {
    background: #ffcd00;
    color: #000;
}

.button-gold:hover {
    background: #ffdb45;
    color: #000;
}

.button-gray,
.button-gray:visited {
    background: #f1f1f1;
    color: #333;
}

.button-gray:hover {
    background: #e5e5e5;
    color: #333;
}

.more {
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

.more:after {
    font: normal 16px/1 FontAwesome;
    content: '\f178';
    color: #ffcd00;
    padding-left: 10px;
}

.more,
.more:hover,
.more:visited {
    color: #000;
    text-decoration: none;
}

.more:hover {
    color: #666;
}

/**
 * 0.0 Page Structure
 * ----------------------------------------------------------------------------
 */
 
 /* centered content container */
.center-cc {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1000px;
    width: 100%;
    position: relative;
}

.home article,
.home .site-content {
    margin-bottom: 0;
}

#sc-after-widgets {
  float: right;
  width: 31.25%;
}

.page-template-full-width #sc-after-widgets {
    float: none;
    width: 100%;
}


/**
 * 0.0 Navigation
 * ----------------------------------------------------------------------------
 */

.onthispage-nav {
    padding-left: 16px;
    padding-bottom: 50px;
}

.onthispage-nav a {
    color: #000;
}

.widget-nav-tabs .widget_custom_menu_wizard {
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

.widget-nav-tabs li {
    display: block;
    float: left;
    margin-left: 1px;
    padding: 0;
}

.widget-nav-tabs li.current-menu-item,
.widget-nav-tabs li.current-page-ancestor {
    background: #f2f2f2;
}

.widget-nav-tabs li a {
    display: block;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 20px 5px 20px;
    color: #191919;
    text-transform: uppercase;
}

.widget-nav-tabs li.blue-light a {
    border-bottom: 7px solid #a7c7e7;
}

.widget-nav-tabs li.blue-dark a {
    border-bottom: 7px solid #4f8cc8;
}

.widget-nav-tabs li.green a {
    border-bottom: 7px solid #a6c24c;
}

.widget-nav-tabs li.orange a {
    border-bottom: 7px solid #d66e29;
}


.content-top .ideas-nav {
    margin-top: -20px;
    padding-bottom: 20px;
}

.ideas-nav li {
    display: inline-block;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
}

.ideas-nav .current-menu-item,
.ideas-nav .menu-item:hover {
    background: #f2f2f2;
}

.ideas-nav .ideas-innovation:hover {
    background: #a6c24c;
}

.ideas-nav .ideas-discovery:hover {
    background: #4f8cc8;
}

.ideas-nav .ideas-engagement:hover {
    background: #a6c24c;
}

.ideas-nav .ideas-access:hover {
    background: #d66e29;
}

.ideas-nav .ideas-solutions:hover {
    background: #fc0;
}

.ideas-nav .current-menu-item a {
    font-weight: normal;
}

.ideas-nav .menu-item a:hover {
    text-decoration: none;
}

.community-menu-block {
    max-width: 200px;
    display: inline-block;
}

.community-menu-block:first-of-type {
    margin-right: 20px;
}

.community-menu-block h5 {
    margin: 10px 0;
    font-size: 14px;
}

.community-menu-block p:last-of-type {
    padding-bottom: 0;
}

.megamenu .menublock .community-menu-block a {
    color: #333;
}

.megamenu .menublock .community-menu-block a:hover {
    text-decoration: none;
    color: #333;
}


/**
 * 0.0 Archive
 * ----------------------------------------------------------------------------
 */

.archive .content-area article {
    border-bottom: 1px solid #ccc;
    width: 100%;
}


.archive .entry-thumbnail img {
    margin: 30px 30px 30px 0;
    border: none;
}

.archive .entry-summary {
    margin-top: 25px;
}


/**
 * 0.0 Entry Header / Meta / Thumbnail
 * ----------------------------------------------------------------------------
 */
 
.content-area .entry-title, 
.content-area .page-title  {
	font-weight: normal;
	margin: 0 0 20px;
	padding: 0 0 10px;
	border-bottom: 1px solid #ccc;
}

.sidebar-navigation-tabs .content-area .entry-title {
    max-width: 450px;
}

.archive .content-area article .entry-title {
    line-height: 1.4em;
    font-size: 24px;
    font-weight: 300;
    border-bottom: none;
    margin-bottom: 0;
}

.entry-thumbnail img {
	margin: 0 0 10px 0;
}

.single .entry-thumbnail img {
    margin: 30px auto 10px;
}

.entry-header {
    position: relative;
}


/**
 * 0.0 Home Banner
 * ----------------------------------------------------------------------------
 */

.widget_metaslider_widget .widget-title {
	display: none;
}

.front-page-banner .metaslider .caption-wrap {
	bottom: 0;
	right: 0;
	left: auto;
	width: 500px;
	position: absolute;
	background: white;
	opacity: 0.9;
	color: #000;
	line-height: 1.4em;
	font-size: 14px;
	padding: 20px;
	border-bottom: solid 10px #4f8cc8;
}

.front-page-banner .metaslider .caption-wrap br {
    display: none;
}

.front-page-banner .metaslider .caption-wrap a.more,
.front-page-banner .metaslider .caption-wrap h2 a {
	font-weight: bold;
	color: #000;
	line-height: 1;
}

.front-page-banner .metaslider .caption-wrap a.more:hover,
.front-page-banner .metaslider .caption-wrap h2 a:hover {
    text-decoration: none;
}

.front-page-banner .metaslider .caption-wrap h2 {
	margin: 0;
	font-size: 16px;
	line-height: 1;
}

.front-page-banner .metaslider li { 
	padding: 0;
}

.front-page-banner .metaslider .flex-direction-nav a { 
	margin: 0; 
	display: block; 
	background: none; 
	position: absolute; 
	top: 45%; 
	z-index: 10; 
	cursor: pointer; 
	opacity: 0.3; 
	-webkit-transition: all .3s ease; 
}

.front-page-banner .metaslider .flex-direction-nav .flex-next { 
	right: 1%; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #fff;
}

.front-page-banner .metaslider .flex-direction-nav .flex-prev { 
	left: 1%; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #fff;
}

.front-page-banner .metaslider .flexslider:hover .flex-next,
.front-page-banner .metaslider .flexslider:hover .flex-prev {
	opacity: 0.8; 
}

.front-page-banner .metaslider .flexslider:hover .flex-next:hover,
.front-page-banner .metaslider .flexslider:hover .flex-prev:hover { 
	opacity: 1; 
}

.front-page-banner .metaslider .flex-direction-nav .flex-disabled { 
	cursor: default; 
	pointer-events: none;
}

.front-page-banner .metaslider .flex-control-paging li a {
    width: 15px;
    height: 15px;
}

.front-page-banner .metaslider .flex-control-paging li a.flex-active {
	background: #4f8cc8;
}

.front-page-banner .ideas-cat {
    font-weight: bold;
    color: #4f8cc8;
    margin-bottom: 10px;
}


/**
 * 0.0 Home: Academics / Look, Plan, Begin / News
 * ----------------------------------------------------------------------------
 */

.home-academics { 
    display: table;
    margin-top: 30px;
}

.home-academics a {
    color: #191919;
    font-size: 12px
}

.home-academics a:hover {
    color: #fff;
    text-decoration: none;
}

.home-academics .col {
    display: table-cell;
    width: 25%;
    padding: 20px;
    border: 1px solid #fff;
}

.home-academics .col-undergrad {
    background: url(../images/program-bg-diag.png), url(../images/undergraduate.png) right bottom no-repeat, #a7c7e7;
}

.home-academics .col-masters  {
    background: url(../images/program-bg-diag.png), url(../images/masters.png) right bottom no-repeat, #4f8cc8;
}

.home-academics .col-doctoral  {
    background: url(../images/program-bg-diag.png), url(../images/doctoral.png) right bottom no-repeat, #a6c24c;
}

.home-academics .col-certificate  {
    background: url(../images/program-bg-diag.png), url(../images/certificates.png) right bottom no-repeat, #d66e29;
}

.home-academics .widget_custom_menu_wizard {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.home-academics .widget_custom_menu_wizard h2 {
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    margin: 0 0 3px 0;
}

.home-academics .widget_custom_menu_wizard ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-academics .widget_custom_menu_wizard li {
    padding: 0;
}

.home-academics dl {
    margin: 0;
    padding: 0;
}

.home-academics dt {
    text-transform: uppercase;
    font-weight: bold;
}
	
.home-academics dt,
.home-academics dd {
    margin: 0;
    padding: 0;
}

.home-look-plan-begin {
    margin: 0 0 50px 0;
    padding: 15px 30px;
    border: 1px solid #fff;
    list-style: none;
    background: #000;
    color: #ffcd00;
    text-transform: uppercase;
    font-size: 14px;
}

.home-look-plan-begin li {
    display: inline;
    padding-right: 30px;
}

.home-look-plan-begin li:last-of-type {
    padding-right: 0;
}

.home-look-plan-begin a {
    color: #fff;
    text-transform: none;
}

.home-news-events .post-list {
    margin-bottom: 40px;
}

.home-news-events .button {
    font-size: 14px;
}

.home-events {
    display: table;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.home-events .col,
.home-events li {
    display: table-cell;
}

.home-events li {
    width: 30%;
}

.home-events li:hover {
    background: #f8f8f8;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.home-events .col:nth-of-type(1) {
    width: 20%
}

.home-events .col:nth-of-type(2) {
    width: 80%
}


/**
 * 0.0 Header Treatments
 * ----------------------------------------------------------------------------
 */
 
.header-treatment {
    margin-bottom: 50px;
}

.colorblock-header .entry-thumbnail,
.colorblock-header .color-block {
    position: relative;
    float: left;
    height: 300px;
}

.colorblock-header .entry-thumbnail {
    width: 630px;
}

.colorblock-header .entry-thumbnail img {
    margin: 0;
}

.colorblock-header .color-block {
    padding: 45px;
    width: 330px;
    background: url(../images/program-bg-diag.png);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    color: #fff;
}

.colorblock-header .color-block .lead-in {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 10px;
}

.colorblock-header .color-block .lead-in p {
    margin-bottom: 0;
}

.cc-undergrad .colorblock-header .color-block {
    background-color: #a7c7e7;
}

.cc-masters .colorblock-header .color-block {
    background-color: #4f8cc8;
}

.cc-doctoral .colorblock-header .color-block {
    background-color: #a6c24c;
}

.cc-certificates .colorblock-header .color-block {
    background-color: #d66e29;
}

.cc-default .colorblock-header .color-block {
    background-color: #fecb59;
}

.colorblock-header .widget_custom_menu_wizard {
    background: none;
    border: none;
    border-radius: 0;
    position: absolute;
    bottom: 45px;
    left: 45px;
    padding: 0;
    margin: 0;
}

.colorblock-header .widget_custom_menu_wizard h3 {
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}

.colorblock-header li {
    padding: 2px 0;
}


/**
 * Category Archive Grid
 * ----------------------------------------------------------------------------
 */
 
.nursing-grid .site-content {
    float: none;
    width: 100%;
}

.nursing-grid .content-area article {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 0 20px;
    text-align: center;
    border-bottom: none;
}

.nursing-grid article .entry-thumbnail img {
    float: none;
    margin: 0 0 10px 0;
    height: auto;
    width: 100%;
    border: 1px solid #f2f2f2;
    padding: 3px;
    box-shadow: 0 8px 6px -6px #999;
}

.nursing-grid article .entry-thumbnail a {
    color: #000;
    font-size: 18px;
    line-height: 1.2;
}

.nursing-grid article .entry-summary {
    display: none;
}


/**
 * 0.0 Callouts
 * ----------------------------------------------------------------------------
 */

.request-info {
    border-radius: 4px;
    background: #191919;
    padding: 25px;
    color: #ccc;
}

.request-info h2 {
    color: #fc0;
    margin-top: 0;
}

.request-info a {
    color: #fff;
}

.look-plan-begin {
    margin-bottom: 50px;
}

.look-plan-begin a {
    color: #fff;
    font-size: 13px;
}

.look-plan-begin .top {
    padding: 25px 25px 15px 25px;
    background: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.look-plan-begin .bottom {
    padding: 10px 25px 10px 25px;
    background: #fc0;
    border-top: 1px solid #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.look-plan-begin .bottom a {
    color: #000;
    font-size: 12px;
    text-shadow: 0 1px 0 #fedf63;
    text-transform: uppercase;
    font-weight: bold;
}

.look-plan-begin h3 {
    font-size: 16px;
    color: #fc0;
    margin: 0;
    padding: 0 0 15px;
    font-weight: normal;
}

.look-plan-begin ul {
    display: inline-block;
    padding: 0 30px 0 0;
    margin: 0;
    width: 45%;
    list-style: none;
}

.look-plan-begin li {
    padding-bottom: 3px;
}

.post-list-iamuwm h3,
.post-list-ideas h3 {
    font-size: 24px;
    margin-bottom: 2px;
}

.post-list-iamuwm ul {
    margin: 0;
    padding: 10px;
    background-image: url(../images/bg-diag.png);
}

.post-list-iamuwm img {
    border: 2px solid #fff;
    padding: 0;
}

.post-list-iamuwm .lcp_customfield {
    margin-top: 2px;
}


/**
 * 0.0 BU Navigation / Custom Menu Wizard
 * ----------------------------------------------------------------------------
 */
 
.widget_bu_pages,
.widget_custom_menu_wizard {
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 0;
    padding: 0 0 50px 16px;
    border-bottom: 1px solid #ccc;
}

.widget_custom_menu_wizard .widget-title,
.widget_bu_pages .first_item > a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.widget_custom_menu_wizard .current-menu-item {
    font-weight: bold;
}

.widget_bu_pages .hide-sidebar-nav,
.widget_custom_menu_wizard .hide-sidebar-nav {
    display: none;
}

.widget_bu_pages ul li ul {
    margin-left: 0;
}



/**
 * 0.0 People Directory
 * ----------------------------------------------------------------------------
 */







/**
 * 0.0 Media Queries
 * ----------------------------------------------------------------------------
 */

@media (max-width: 1400px) { 
    
    
    
}

@media (max-width: 980px) {
        
    

}

@media (min-width: 960px) {
    
    .mm-academics .menu-item-depth-1 {
        padding-right: 20px;
    }

    .megamenu .color-bg > a {
        border-radius: 4px;
    } 

    ul.nav-menu .megamenu ul .color-bg > a {
        padding-bottom: 8px;
    }

    .megamenu .blue-light > a,
    ul.nav-menu .megamenu ul .blue-light > a:hover {
        background: #a7c7e7 !important;
    }

    .megamenu .blue-dark > a,
    ul.nav-menu .megamenu ul .blue-dark > a:hover {
        background: #4f8cc8 !important;
    }

    .megamenu .green > a,
    ul.nav-menu .megamenu ul .orange > a:hover {
        background: #a6c24c !important;
    }

    .megamenu .orange > a,
    ul.nav-menu .megamenu ul .orange > a:hover {
        background: #d66e29 !important;
    }
    
}

@media (max-width: 959px) {

    #sc-after-widgets {
        float: none;
        width: 100%;
    }
    
    .home-academics,
    .home-academics .col,
    .home-look-plan-begin li {
        display: block;
        width: 100%;
    }
    
    .home-academics a,
    .home-look-plan-begin {
        font-size: 14px
    }
    
    .home-look-plan-begin {
        padding: 20px;
    }
    
    .home-look-plan-begin li {
        padding: 0 0 8px 0;
    }
    
    .home-events {
        display: block;
        border-top: none;
        border-bottom: none;
    }

    .home-events .col,
    .home-events li,
    .home-events .col:nth-of-type(1),
    .home-events .col:nth-of-type(2) {
        display: block;
        width: 100%;
        border-right: none;
    }
    
    .home-events li {
        padding: 0;
        margin-bottom: 40px;
    }
    
    .home-events li:hover {
        background: #fff;
        box-shadow: none;
    }
    
    .post-list-events-h .button2 {
        display: inline-block;
    }
    
    .post-list-events-h .button1 {
        display: none;
    }
    
    .home-news-events .col {
        width: 100%;
        margin: 0;
        display: block;
    }
    
    .post-list-seasonal,
    .post-list-spotlight,
    .post-list-news,
    .home-events {
        margin: 0 auto 40px auto;
    }
    
    .post-list-news li,
    .home-events li {
        text-align: left;
    }
    
    .post-list-news .button,
    .home-events .button {
        margin-bottom: 40px;
    }
    
    .post-list-seasonal ul {
        margin: 0 0 10px 0;
    }
    
    .widget-nav-tabs .widget_custom_menu_wizard {
        position: relative;
        height: auto;
        right: auto;
        bottom: auto;
        margin-bottom: 40px;
    }
    
    .colorblock-header .entry-thumbnail,
    .colorblock-header .entry-thumbnail img,
    .colorblock-header .color-block {
        float: none;
        height: auto;
        width: 100%;
    }
    
    .colorblock-header .widget_custom_menu_wizard {
        position: relative;
        bottom: auto;
        left: auto;
    }
    
    .nursing-grid .content-area article {
        width: 49%;
        padding: 0 20px;
    }

    .sidebar-navigation-tabs .content-area .entry-title {
        max-width: 100%;
    }
    
}

@media (max-width: 767px) {    

    
}

@media (max-width: 700px) {
    
    

}

@media (max-width: 643px) {

    .front-page-banner .metaslider .caption-wrap {
        height: auto;
        width: 100%;
        top: 2px;
        bottom: 0;
        left: 0;
        display: block;
        position: relative;
        padding: 0;
        border-bottom: none;
        border-top: solid 10px #4f8cc8;
        text-align: center;
    }
    
    .front-page-banner .metaslider .caption {
        padding: 20px 0;
    }
    
    .front-page-banner .metaslider .flexslider { 
		margin-bottom: 50px;
		
	}
	
	.front-page-banner .metaslider .flex-direction-nav a {
	    top: 20%;
	}
	
	
    
}

@media (max-width: 600px) {

	.widget-nav-tabs li {
        float: none;
    } 
	
}

@media (max-width: 550px) {

	
}

@media (max-width: 500px) {    
    
    .nursing-grid .content-area article {
        display: block;
        width: 100%;
    }

}

@media (max-width: 400px) {


}

/**
 * 0.0 Print
 * ----------------------------------------------------------------------------
 */

@media print {
    
    .widget-area {
        display: block;
    }
    
    .panel-expand-collapse .collapseomatic_content {
        display: block !important;
    }
    

}

/**
 * 0.0 Bootstrap custom
 * ----------------------------------------------------------------------------
 */

@media (max-width: 991px) { 
    .col-bm-40 {
        margin-bottom: 40px;
    }
} 


/**
 * 0.0 Bootstrap utilities
 * ----------------------------------------------------------------------------
 */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@-ms-viewport {
  width: device-width;
}

.visible-xs {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

 