/* Nursing touch display styles */

html {
	overflow-y: auto;
}

body {
	background: url(../images/bg-display.jpg) repeat fixed 50% 20%;
}

.button,
.button:visited, 
button, 
input[type="submit"], 
input[type="button"], 
input[type="reset"] {
    background: #4d84b1;
    padding: 16px 24px 15px;
}

.button:hover {
    background: #689fcb;
}

/* Clearing floats */

.story-list li:after {
	clear: both;
}

.story-list li:after {
	content: "";
	display: table;
}

.panel {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 350px;
    background: rgba(255,255,255,0.5);
    background-image: none;
    border: 1px solid #fff;
    padding: 40px;
    margin: 20px;
}

.fa.fa-youtube-play {
    font-size: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 26%;
    color: #fff;
}

.fa.fa-youtube-play:hover {
    cursor: pointer;
}

.entry-thumbnail .fa.fa-youtube-play {
    font-size: 100px;
    top: 35%;
}

.lcp_catlist .fa.fa-youtube-play {
    font-size: 70px;
    top: 28%;
}

.video-swap {
    display: none;
    margin-bottom: 50px;
}

/**
 * Site Structure
 * ----------------------------------------------------------------------------
 */

.domain-banner {
	z-index: 500;
}

/* centered content container */
.more-navigation, 
.main-navigation,
.content-area,
.site-info { 
	max-width: 1400px;
}

.main-navigation {
    margin: 0;
}

.site { 
	background: none;
}

.site-header { 
    position: fixed;
    left: 0;
    top: 0;
    z-index: 498 !important;
    background: rgba(255,255,255,0.8);
}

.admin-bar .site-header {
    top: 32px;
}

.header-background { 
    display: none;
}

.site-branding { 
	margin: 0;
	padding: 0; 
	max-width: 100%;
	height: 90px; 
}

.navbar { 
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #4d84b1;
    border-top: 5px solid #a6c1d8;
    z-index: 497;
}

.content-area { 
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 40px; 
}

.site-footer { 
    background-color: none; 
	border-top: none; 
    clear: both; 
}

.site-branding h2 {
	bottom: 30px;
	font-weight: 200;
	font-family: inherit;
	font-size: 28px;
	letter-spacing: initial;
	max-width: none;
}

.site-branding h2 a {
	display: inline;
}

.header-title-page {
    padding-left: 24px;
    margin-left: 18px;
    border-left: 5px solid #fc0;
}

.page-template-front-page .header-title-page {
    display: none;
}

/**
 * Main Navigation
 * ----------------------------------------------------------------------------
 */

.nav-menu li a {
	font-size: 26px;
    font-weight: 200;
	line-height: 1.2;
	padding: 25px 40px;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}

.main-navigation {
    max-width: 1600px;
}

.main-navigation li.current-menu-item,
.main-navigation li.current-page-ancestor {
    background: #3b6188;
    box-shadow: inset 0 0 10px #33526e;
}

.main-navigation li.current-menu-item:hover {
    background: none;
    box-shadow: none;
}

.main-navigation li a:before {
	display: inline-block;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	font: normal 30px/1 FontAwesome;
	color: #fff;
	padding-right: 20px;
}

.main-navigation li.icon-directory a:before {
    content: '\f0c0';
}

.main-navigation li.icon-calendar a:before {
    content: '\f073';
}

.main-navigation li.icon-stories a:before {
    content: '\f140';
}

.main-navigation li.icon-quiz a:before {
    content: '\f0eb';
}

.main-navigation li.icon-alumni a:before {
    content: '\f19d';
}

.main-navigation li.icon-locations a:before {
    content: '\f041';
}

.start-here {
    display: none;
}

.page-template-front-page .start-here {
    position: absolute;
    top: -110px;
    left: 80px;
    background: #fc0;
    padding: 25px 40px 5px 40px;
    border-radius: 5px;
    border: 5px solid #fff;
    display: inline-block;
    text-align: center;
    line-height: 1;
    box-shadow: 0 8px 6px -6px #666;
    cursor: pointer;
}

.page-template-front-page .start-here .text {
    font-weight: bold;
    font-size: 18px;
}

.page-template-front-page .start-here .text,
.page-template-front-page .start-here i {
    display: block;
    
}

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

.search-toggle a { 
	right: 0;
}

/**
 * Entry Content
 * ----------------------------------------------------------------------------
 */

.entry-meta {
    display: none;
}

.entry-thumbnail {
    position: relative;
    max-width: 600px;
}

.entry-thumbnail img,
.entry-content img {
	border: 3px solid #fff;
}

.archive .entry-thumbnail img,
.search .entry-thumbnail img {
    margin: 0px 20px 20px 0;
}

.site-content .entry-title, 
.site-content .page-title  {
	font-weight: bold;
	font-size: 24px;
	margin: 0 0 30px;
	padding: 0;
	border-bottom: none;
}

.page .entry-header,
.archive .site-content > .entry-header {
	display: none;
}

/**
 * Directory Navigation
 * ----------------------------------------------------------------------------
 */

.secondary-nav {
    position: fixed;
    bottom: 170px;
    right: 40px;
    z-index: 999;
}

.secondary-nav .content-top aside {
    margin-bottom: 0;
}

.secondary-nav .widget_custom_menu_wizard {
    background-color: rgba(255,255,255,0.5);
    padding: 0;
    border: solid 1px #fff;
}

.secondary-nav .widget_custom_menu_wizard li {
    
    font-size: 18px;
    border-bottom: 1px solid #fff;
}

.secondary-nav .widget_custom_menu_wizard li a {
    padding: 15px 50px 15px 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.secondary-nav .widget_custom_menu_wizard li:hover {
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.secondary-nav .widget_custom_menu_wizard .current-menu-item {
    background: #fc0;
}

.secondary-nav a:hover {
    text-decoration: none;
}

.secondary-nav .paging {
    margin: 0;
    padding: 0;
}

.secondary-nav .paging li {
    display: inline;
}


/**
 * Metaslider
 * ----------------------------------------------------------------------------
 */
 
.front-page-banner,
.dyk-slider {
    margin-top: 50px;
} 

#content .front-page-banner .flexslider img,
.entry-content .front-page-banner .flexslider img,
#content .front-page-banner .flexslider .youtube,
.entry-content .front-page-banner .flexslider .youtube {
    border: 8px solid #fff;
    box-shadow: 0 8px 6px -6px #666;
}

.front-page-banner .metaslider .caption-wrap {
	bottom: 10%;
	left: 8px;
	right: auto;
	width: 400px;
	position: absolute;
	background: white;
	opacity: 0.9;
	color: #000;
	line-height: 1.4em;
	font-size: 14px;
	padding: 20px;
	border-bottom: solid 10px #fc0;
}

.dyk-slider .metaslider .caption-wrap {
	top: 25%;
	bottom: auto;
	left: 25%;
	right: auto;
	width: 50%;
	min-height: 50%;
	line-height: 1.4em;
	font-size: 22px;
	font-family: 'Libre Baskerville', serif;
	padding: 50px;
	border-bottom: none;
	border-radius: 5px;
}

.front-page-banner .metaslider .caption-wrap a {
	color: #000;
}

.front-page-banner .metaslider .caption-wrap a:hover {
	color: #000;
	text-decoration: none;
}

.front-page-banner .metaslider .caption-wrap h2 {
	margin-top: 0;
	margin-bottom: 15px;
}

.front-page-banner .metaslider li { 
	padding: 0;
}

.front-page-banner .metaslider .flex-control-paging li a.flex-active {
	background: #4d84b1;
	box-shadow: none;
}

.front-page-banner .metaslider .flex-control-paging li a {
    width: 15px;
    height: 15px;
}

/**
 * Directory / Stories / Alumni
 * ----------------------------------------------------------------------------
 */
 
.locations .col {
    display: inline-block;
    width: 40%;
    margin-right: 50px;
    vertical-align: top;
}

.locations ul {
    margin-bottom: 40px;
}
 
.stories .lcp_catlist,
.directory .directory_list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

.stories-alumni .lcp_catlist {
    text-align: center;
}

.stories .lcp_catlist p,
.directory .directory_list p {
    display: none;
}

.stories .lcp_catlist li,
.directory .directory_list li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.archive .directory .directory_list li {
    text-align: left;
}

.stories,
.directory {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.stories .lcp_catlist li {
    width: 340px;
    margin: 20px 50px;
    
}

.stories-alumni .lcp_catlist li {
    width: 17%;
    margin: 20px 50px;
    
}

.directory .directory_list li {
    width: 145px;
    margin: 20px 50px;
    
}

.archive .directory .directory_list li {
    width: 40%;
    margin: 20px 50px;
    
}

.directory .col1,
.directory .col2 {
    float: left;
}

.directory .col2 {
    max-width: 300px;
}

.directory .hr {
    width: 100%;
    border-top: 1px solid #ccc;
}

.stories .lcp_catlist li .image {
    display: block;
    position: relative;
    margin: 0 auto 20px auto;
    width: 338px;
    height: 168px;
    background: #fff;
    box-shadow: 0 8px 6px -6px #666;
}

.stories-alumni .lcp_catlist li .image {
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    
}

.directory .directory_list li .image {
    display: block;
    position: relative;
    margin: 0 auto 20px auto;
}

.archive .directory .directory_list li .image {
    margin: 0 20px 20px 0;
}

.stories .lcp_catlist li img {
    position: absolute;
    clip: rect(0px,330px,160px,0px);
    left: 4px;
    top: 4px;
    width: 330px;
    border: none;
}

.stories-alumni .lcp_catlist li img {
    position: relative;
    clip: auto;
    left: auto;
    top: auto;
    width: 100%;
    border: 4px solid #fff;
    box-shadow: 0 8px 6px -6px #666;
}

.directory .directory_list li img {
    border: 3px solid #fff;
    width: 142px;
    box-shadow: 0 8px 6px -6px #666;
}

.stories .lcp_catlist li img:hover,
.story-list img:hover {
    opacity: 0.8;
}

.stories .lcp_catlist a,
.directory .directory_list a {
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.stories .lcp_catlist a:hover,
.directory .directory_list a:hover {
    text-decoration: underline;
}

.stories .lcp_catlist a {
    font-size: 18px;
    line-height: 1.2;
}

.directory .directory_list a {
    font-size: 16px;
}

.stories .title {
    padding: 0 30px;
}

.stories-alumni .title {
    padding: 0;
}

.single .content-area {
    max-width: 1100px;
    position: relative;
}

.directory-single,
.stories-single {
    max-width: 60%;
    width: 60%;
    min-height: 600px;
}

.directory-single {
    margin-left: 34%;
}

.directory-single .person-details,
.story-list {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    max-width: 250px;
    min-width: 100px;
    width: 25%;
    text-align: left;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.directory-single .person-details {
    left: 20px;
}

.directory-single .job-title {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.archive .directory .title a {
    font-weight: bold;
}

.archive .directory .job-title {
    font-style: italic;
}
 
.directory-single .entry-thumbnail img {
    margin: 0 0 30px 0;
    padding: 0;
    width: 250px;
}

.stories-single .entry-thumbnail img {
    margin: 0 0 50px 0;
}

.alumni-single .entry-thumbnail img {
    margin: 0 0 10px 0;
}

.directory-single .entry-title {
    margin: 20px 0 10px 0;
}

.directory-single .entry-title {
    margin: 20px 0 10px 0;
}

.alumni-single .entry-title {
    margin: 20px 0 40px 0;
}

.directory-contact {
    background: rgba(255,255,255,0.5);
    padding: 30px;
    margin: 30px 0;
    border: 1px solid #fff;
}

.archive .directory-contact {
    padding: 0;
    margin: 10px 0 0 0;
    background: none;
    border: none;
}

.directory-contact div {
    padding-bottom: 5px;
}

.archive .directory-contact div {
    padding-bottom: 0;
}

.directory-contact div:last-child {
    padding-bottom: 0;
}

/* Icons & Buttons */

.directory-contact div:before,
.button-back:before {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/1.4em FontAwesome;
	width: 1em;
	padding-right: 15px;
}

.archive .directory-contact div:before {
    display: none;
}

.directory-contact .email:before {
    content: '\f0e0';
    font-size: 18px;
}

.directory-contact .phone:before {
    content: '\f095';
}

.directory-contact .location:before {
    content: '\f041';
}

.button-back:before {
    content: '\f053';
    line-height: 1.2em;
}

.button-back {
    display: block;
    padding-left: 15px;
}

.stories-single .button {
    display: block;
    width: 100%;
}

.directory-single .button-d1,
.stories-single .button-d1 {
    display: none;
}

.directory-single .button-d2 {
    margin-top: 60px;
}

/* Story List */

.story-list {
    top: 40px;
    max-width: 208px;
}

.story-list h3 {
    margin-top: 0;
}  

.story-list ul {
    list-style: none;
    margin: 0 0 60px 0;
    padding: 0;
}

.story-list li {
    margin: 0 0 30px 0;
    line-height: 1.4;
    text-align: center;
}

.story-list-alumni li {
    margin: 0 0 50px 0;
}

.story-list .image {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    width: 208px;
    height: 108px;
    background: #fff;
    box-shadow: 0 8px 6px -6px #666;
}

.story-list img {
    position: absolute;
    clip: rect(0px,200px,100px,0px);
    left: 4px;
    top: 4px;
    width: 200px;
}

.story-list-alumni .image {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
}

.story-list-alumni img {
    position: relative;
    clip: auto;
    left: auto;
    top: auto;
    width: 200px;
    border: 4px solid #fff;
    box-shadow: 0 8px 6px -6px #666;
}

.story-list li a {
    color: #000;
}


/* List Category Posts Pagination */

.stories .lcp_paginator {
    text-align: center;
    margin: 20px 0;
    padding: 0;
}

.stories .lcp_paginator li {
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
    padding: 14px 24px;
    margin: 5px;
    color: #000;
    font-weight: bold;
    font-size: 22px;
}

.stories .lcp_paginator li:hover {
    opacity: 1;
    cursor: pointer;
}

.stories .lcp_paginator li a {
    color: #333;
    font-weight: normal;
    text-decoration: none;
}


/**
 * Did You Know
 * ----------------------------------------------------------------------------
 */
 
.dyk {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.dyk li {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
    background-image: none;
    padding: 40px;
    margin: 20px;
}

.dyk .icon {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
}

.dyk img {
    border-radius: 100px;
    padding: 5px;
    border: 1px solid #fff;
}


/**
 * Events Calendar Pro
 * ----------------------------------------------------------------------------
 */
 
#tribe-events-pg-template {
    max-width: 1200px;
} 

.single-tribe_events .tribe-events-cal-links {
    display: none;
}

.single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer {
    border-top: 1px solid #fff;
}

#tribe-events-pg-template {
    margin-top: 80px;
    padding: 40px 20px;
}

.single-tribe_events .tribe-events-event-meta,
.vevent.tribe-events-photo-event .tribe-events-photo-event-wrap {
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
}

.tribe-events-list-separator-month span {
    padding: 10px 7.5%;
}

.tribe-events-list-separator-month:after {
    border-bottom: 1px solid #fff;
}

#tribe-events-bar,
.tribe-events-list h2.tribe-events-page-title,
#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button {
    display: none;
}

.tribe-events-photo .tribe-events-event-image img {
    border: none;
    padding: 8px;
}

.tribe-events-event-image img {
    border: 4px solid #fff;
}

.tribe-events-list #tribe-events-photo-events .tribe-events-event-details h2 {
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
}

.tribe-events-photo .tribe-events-loop .vevent.hentry .tribe-events-event-meta {
    margin-bottom: 20px;
    line-height: 1.4;
}

.tribe-events-photo .tribe-events-loop .tribe-events-event-meta .time-details {
    line-height: 1.4;
}

.tribe-events-list .tribe-events-photo-event .tribe-events-event-details {
    font-size: 14px;
}



/**
 * Load More Posts
 * ----------------------------------------------------------------------------
 */
 
#pbd-alp-load-posts {
    width: 300px;
    margin: 0 auto;
}


#pbd-alp-load-posts a:link, #pbd-alp-load-posts a:visited {
	display: block;
	text-align: center;
	padding: 20px 0;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	margin: 50px 0 200px 0;
	background-color: #4d84b1;
    font-size: 18px;
}

#pbd-alp-load-posts a:hover, #pbd-alp-load-posts a:active {
	background: #689fcb;
}



/**
 * 0.0 People Directory
 * ----------------------------------------------------------------------------
 */


.nursing-display .person {
    border: none;
}

.nursing-display .person img,
.nursing-display .single-person-container img  {
    border: 3px solid #fff;
    box-shadow: 0 8px 6px -6px #666;
}

.nursing-display .list .person {
    border-bottom: 1px solid #fff;
}

.nursing-display .person:hover {
    background-color: rgba(255,255,255,0.5);
    border: none;
}

.nursing-display .uwmpeople-building,
.nursing-display .grid .uwmpeople-building {
    display: block;
}

.nursing-display .single-person-container .uwmpeople-contact {
    border-bottom: 1px solid #fff;
}

.nursing-display .single-person-container .uwmpeople-title-dept {
    border-bottom: 1px solid #fff;
}

.nursing-display .view-all {
    width: 250px;
    position: fixed;
    bottom: 170px;
    right: 40px;
    top: auto;
    z-index: 999;
}

.nursing-display .view-all a {
    color: #000;
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 15px 20px;
    display: block;
}

.nursing-display .view-all a:hover {
    text-decoration: none;
    background: #fff;
}

.nursing-display .view-all .fa {
    color: #000;
}

.nursing-display .filter-bar {
    background: none;
    width: 250px;
    position: fixed;
    bottom: 170px;
    right: 40px;
    z-index: 999;
    margin: 0;
    padding: 0;
}

.nursing-display .person-container {
    width: 80%;
}

.nursing-display .searchwrap {
    display: none;
}

.nursing-display .content-area .filter-bar input[type="search"] {
  float: none;
  width: 100%;
}

.nursing-display .filter-bar .filter,
.nursing-display .filter-bar .options {
    display: none;
}

.nursing-display .filter-bar .filter-panel {
    display: block !important;
}

.nursing-display .filter-bar .filter-list {
    border-top: none;
    margin: 40px 0 0 0;
    padding: 0;
}

.nursing-display .filter-bar .filter-list .filter-item-active a {
    color: #000;
}

.nursing-display .filter-bar .filter-list ul {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.nursing-display .filter-bar .filter-list li {
    padding: 24px 20px;
    background: rgba(255,255,255,0.5);
    border: 1px solid #fff;
    border-radius: 0;
    font-size: 18px;
    margin: -1px 0 0 0;
}

.nursing-display .filter-bar .filter-list .filter-item-active,
.nursing-display .filter-bar .filter-list .filter-item-active:hover,
.nursing-display .filter-bar .filter-list .filter-item-active a:hover {
    background: #fc0;
    border-color: #fff;
}

.nursing-display .single-person-container .uwmpeople-classification {
    display: none;
}

/**
 * Stories / Alumni
 * ----------------------------------------------------------------------------
 */
 
.nursing-grid .site-content {
    float: none;
    width: 100%;
}

.nursing-grid article {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding: 0 40px;
    text-align: center;
}

.nursing-grid .entry-thumbnail img {
    float: none;
    margin: 0 0 10px 0;
    height: auto;
    width: 100%;
    border: 3px solid #fff;
    box-shadow: 0 8px 6px -6px #999;
}

.nursing-grid .entry-thumbnail a {
    color: #000;
    font-size: 18px;
    line-height: 1.2;
}

.nursing-grid .entry-summary {
    display: none;
}



/**
 * Calendar
 * ----------------------------------------------------------------------------
 */

.tribe-events-back,
.tribe-events-sub-nav {
    display: none;
}

.single-tribe_events h2.tribe-events-single-event-title {
    font-size: 30px;
}

.tribe-events-schedule {
    color: #4d84b1;
}

div#tribe-events-footer {
    text-align: center;
}

.events-list {
    border-spacing: 40px;
}

.events-list li {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    margin: 25px;
    padding: 40px;
    background: rgba(255,255,255,0.5);
}

.events-list .title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.events-list .date {
    font-size: 16px;
    font-weight: 500;
    color: #4d84b1;
    line-height: 1.2;
    margin-bottom: 20px;
}

.events-list .read-more {
    font-weight: bold;
}

/**
 * Media Queries
 * ----------------------------------------------------------------------------
 */
 
@media (max-width: 1600px) {

    .secondary-nav {
        right: 0;
    }
    
    .nav-menu li a {
        font-size: 18px;
        padding: 20px 25px;
    }
    
    .main-navigation li a:before {
        padding-right: 15px;
    }
    
    .main-navigation li a:before {
        font: normal 24px/1 FontAwesome;
    }

}  

@media (max-width: 1400px) { 
        
    .stories .lcp_catlist li {
        margin: 20px 25px;
    }
    
    .archive .directory .directory_list li {
        width: 35%;
        margin: 20px;
    }
    
    .archive .directory .col2 {
        max-width: 200px;
    }
    
    .secondary-nav .widget_custom_menu_wizard li {
        font-size: 15px;
    }
    
    .secondary-nav .widget_custom_menu_wizard li a {
        padding: 10px 20px;
    }
    
    .nursing-display .filter-bar {
        width: 200px;
        right: 0;
    }
    
    .nursing-display .filter-bar .filter-list li {
        padding: 15px 15px;
        font-size: 16px;
    }

	
} 
 
@media (max-width: 1200px) { 
    
    .site-branding p {
		display: none;
	}
	
	.nav-menu li a {
        font-size: 16px;
        padding: 15px 20px;
    }
    
    .main-navigation li a:before {
        font: normal 20px/1 FontAwesome;
    }
    
    .events-list li {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto 50px auto;
    }
        	
}

@media (max-width: 959px) {

    body {
        background-image: none;
        background-color: #f3e4cd;
    }
    
    .site-header {
		position: relative;
	}
	
	.admin-bar .site-header {
	    top: 0;
	}
	
	.site-branding h2 {
        bottom: 34px;
        font-size: 24px;
    }
    
    .nav-menu li a {
        font-weight: 500;
    }
    
    .page-template-front-page .start-here {
        display: none;
    }
    
    .secondary-nav {
        display: none;
    }
    
    .locations .col {
        display: block;
        width: auto;
        margin-right: 0;
    }
    
    .toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
		background: #fff;
	}
	
	.toggled-on .nav-menu li:last-child {
        border-bottom: none;
    }
    
    .toggled-on .nav-menu .child-toggled-on:hover {
        background: #fff;
    }
	
	.main-navigation li a:before {
       display: none;
    }
    
    .main-navigation li.current-menu-item,
    .main-navigation li.current-menu-item:hover {
        background: #e5e5e5;
        box-shadow: none;
    }
    
    .content-area { 
		max-width: 700px;
		margin-top: 0;
	}
	
	.stories .lcp_catlist li {
        width: 280px;
        margin: 20px 25px;
    }
    
    .stories .lcp_catlist li .image {
        width: 278px;
        height: 143px;
    }
    
    .stories .lcp_catlist li img {
        clip: rect(0px,270px,135px,0px);
        width: 270px;
    }
    
    .stories-alumni .lcp_catlist li .image {
        width: auto;
        height: auto;
    }
    
    .stories-alumni .lcp_catlist li img {
        clip: auto;
        width: auto;
    }
    
    .directory-single .button-d2:before { 
        padding-right: 10px;
    }
    
    .story-list {
        width: 158px;
        font-size: 14px;  
    }
    
    .story-list .image {
        width: 158px;
        height: 78px;
    }
    
    .story-list img {
        clip: rect(0px,150px,70px,0px);
        width: 150px;
    }
    
    .archive .directory .directory_list li {
        width: 30%;
        margin: 20px 60px;
    }
    
    .archive .directory .col1,
    .archive .directory .col2 {
        display: block;
        max-width: 100%;
    }
    
    #tribe-events-pg-template {
        margin-top: 0;
    }
    
    #pbd-alp-load-posts {
        max-width: 100%;
    }
    
    .panel {
        display: block;
        min-height: auto;
        width: 80%;
        margin: 0 auto 20px auto;
    }
    
    .entry-thumbnail .fa.fa-youtube-play {
        font-size: 80px;
    }
    
    .dyk-slider .metaslider .caption-wrap {
        left: 20%;
        width: 60%;
        font-size: 18px;
        padding: 30px;
    }
    
    .front-page-banner,
    .dyk-slider {
        margin-top: 0;
    }
    
    .nursing-grid article {
        width: 49%;
        padding: 0 20px;
    }

    .nursing-display .filter-bar {
        display: none !important;
    }
    
    .nursing-display .person-container {
        width: 100%;
    }
	
}

@media (max-width: 768px) {

    .tribe-events-sub-nav li a,
    .tribe-events-sub-nav li a:visited,
    .tribe-events-sub-nav li a:hover {
        background: none;
        color: #000;
    }
    
    #tribe-events #tribe-events-footer, #tribe-events #tribe-events-header {
        padding-top: 2em;
    }
    
    #tribe-events-footer:after,
    #tribe-events-footer:before {
        display: none;
    }
    
    .single-tribe_events .tribe-events-schedule {
        padding: 0;
        margin: 0;
        background: none;
        border: none;
    }
    
    .single-tribe_events .tribe-events-schedule h3 {
        padding: 20px 0;
        margin: 0;
        font-weight: bold;
    }
    
}

@media (max-width: 767px) {
    	
	.stories .lcp_catlist li {
        display: block;
        width: 300px;
        margin: 0 auto 40px auto;
    }
    
    .stories .lcp_catlist li .image {
        width: 278px;
        height: 143px;
    }
    
    .stories .lcp_catlist li img {
        clip: rect(0px,270px,135px,0px);
        width: 270px;
    }
    
    .stories-alumni .lcp_catlist li {
        display: block;
        width: 100%;
        margin: 0 auto 40px auto;
    }
    
    .stories-alumni .lcp_catlist li .image {
        width: auto;
        height: auto;
    }
    
    .stories-alumni .lcp_catlist li img {
        clip: auto;
        width: 200px;
    }
    
    .archive .directory .directory_list li {
        width: 100%;
        margin: 0 0 60px 0;
    }
    
    .archive .directory .col2 {
        max-width: 50%;
    }

}

@media (max-width: 643px) {
    
    .front-page-banner .metaslider .caption-wrap {
        height: 200px;
        width: 100%;
        top: auto;
        bottom: 0;
        left: 0;
        display: block;
        position: relative;
    }
    
    .dyk-slider .metaslider .caption-wrap {
        width: 100%;
        height: auto;
        font-size: 16px;
        border-radius: 0;
    }
    
    .front-page-banner .metaslider .flexslider { 
		margin-bottom: 50px;
	}
    
    .site-header {
		height: 60px;
	}
	
	.admin-bar .site-header { 
		top: auto;
	}
	
	.domain-banner {
		top: auto;
	}
	
	.site-branding {
		top: 0;
		padding: 0 20px;
		margin: 0 auto;
		width: 100%;
		height: 60px;
	}
	
	.site-branding .header-title-page {
	    display: none;
	}
	
	.page .entry-header,
	.archive .site-content > .entry-header {
	    display: block;
	}
	
	.page .entry-title,
	.archive .entry-title {
		font-size: 22px;
		font-weight: 300;
		padding: 10px 20px;
		margin: 0;
		border: 1px solid #fff;
		background: rgba(255,255,255,0.5);
		text-align: left;
	}
	
	.directory-single,
	.stories-single {
        margin-left: auto;
        max-width: 100%;
        width: 100%;
    }
    
    .directory-single .person-details {
        position: relative;
        max-width: 100%;
        width: 100%;
        text-align: left;
        top: 0;
        left: 0;
    }
    
    .stories-single .story-list {
        display: none;
    }
    
    .directory-single .button-d1,
    .stories-single .button-d1 {
        display: block;
        margin-bottom: 40px;
    }
    
    .directory-single .button-d2,
    .stories-single .button-d2 {
        display: none;
    }
    
    .directory-single .entry-thumbnail img,
    .alumni-single .entry-thumbnail {
        float: left;
        width: 150px;
        margin: 0 20px 20px 0;
    }
    
    .alumni-single .entry-thumbnail {
        margin: 0 30px 30px 0;
    }
    
    .alumni-single .entry-thumbnail img {
        float: none;
        margin: 0 0 10px 0;
    }
    
    .stories-single .entry-thumbnail img {
        margin: 0 0 30px 0;
    }
    
    .directory-single .entry-title {
        margin-top: 0;
    }
    
    .directory-single .job-title {
        padding-bottom: 0;
        border-bottom: none;
    }
    
    .directory-contact {
        padding: 20px;
        margin: 20px 0;
    }
    
    .archive .directory .directory_list li {
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
        margin-bottom: 30px; 
    }
 
}

@media (max-width: 500px) {
    
    .directory .directory_list li img {
        width: 95px;
    }

    .dyk li {
        display: block;
        min-height: auto;
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .panel {
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .entry-thumbnail .fa.fa-youtube-play {
        font-size: 70px;
        top: 30%;
    }
    
    .nursing-grid article {
        display: block;
        width: 100%;
    }
    

}