/* Nursing shared styles */

/**
 * 0.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */
 
/* Clearing floats */
.post-list li:after {
	clear: both;
}

.post-list li:after {
    content: "";
    display: table;
}  

hr {
	background: #ccc;
	border: none;
	height: 1px;
	margin: 60px 0;
}

.gold {
    color: #ffcd00;
}

.lead-in {
 	font-size: 24px;
 	font-weight: 200;
}

.featured-img-caption {
    color: #999;
    font-size: 14px;
    max-width: 600px;
}

blockquote {
    font-size: 20px !important;
}

ul.list-padding-2x li {
    padding-bottom: 20px;
}

.small-text-14 {
    font-size: 14px;
}

.small-text-12 {
    font-size: 12px;
}

.panel {
    padding: 30px;
    background-color: #f8f8f8;
    border: solid 1px #e5e5e5;
    border-radius: 4px;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
}

.panel *:first-child {
    margin-top: 0;
}

.panel p:last-child {
    margin-bottom: 0;
}

.panel h4 {
      margin: 40px 0 10px 0;
      font-weight: 500;
}

.panel-pdf,
.panel-xlink {
    padding: 16px 20px;
    margin-bottom: 24px;
}

.panel-pdf:before {
    content: '\f1c1';
    font: normal 30px/1 FontAwesome;
    color: #574d52;
    float: left;
}

.panel-pdf .wrap {
    margin-left: 45px;
}

.panel-pdf a {
    font-size: 18px;
}

.panel-pdf .details {
    font-size: 14px;
}

.panel-xlink .fa {
    padding-left: 10px;
    color: #574d52;
}

.panel strong {
    font-weight: 500;
}

.panel ol {
  counter-reset: li;
  padding-left: 0;
}

.panel ol > li {
  padding: 0 0 20px 50px;
  list-style-type: none;
  position: relative;
}

.panel ol > li:last-of-type {
    padding-bottom: 0;
}

.panel ol > li:before {
    content: counter(li);
    counter-increment: li;
    background-color: #ffbd00;
    border-radius: 50%;
    font-size: 12px;
    line-height: 5px;
    color: #fff;
    padding: 1em;
    position: absolute;
    left: 0;
}

.image-callout {
    width: 300px;
    position: relative;
    margin-bottom: 40px;
}

.image-callout img {
    margin: 0 0 10px 0;
}

.image-callout a {
    color: #000;
    font-weight: 300;
    line-height: 1.4em;
    font-size: 18px;
}


/**
 * 0.0 Post Lists
 * ----------------------------------------------------------------------------
 */
 
.post-list {
    margin-bottom: 100px;
}

.post-list p {
    display: none;
}

.post-list h3 {
    margin: 0 0 10px 0;
}

.post-list h3 a {
    color: #000;
}

.post-list h3 a:hover,
.post-list .more:hover {
    text-decoration: none;
}

.post-list ul,
.widget .post-list ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 15px;
}

.post-list-blocks ul {
    margin: 30px 0;
}

.post-list li,
.widget .post-list li {
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}

.nursing-display .post-list li {
    border-bottom: 1px solid #fff;
}

.post-list-photo-lg li {
    padding: 0;
    border-bottom: none;
}

.post-list-blocks li {
    padding: 0;
    border-bottom: none;
}

.post-list .title,
.post-list .date {
    line-height: 1.2;
}

.post-list .date {
    margin-top: 5px;
    color: #666;
    font-size: 12px;
    font-weight: 400;
}

.post-list img {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}

.post-list-default-thumbnail img {
    float: none;
    margin-right: 0;
    width: 100%;
    height: 100%;
}

.post-list-default-thumbnail .image {
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    background-image: url(../images/postlist-default-thumbnail.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: contain;
}

.post-list-single img {
    float: none;
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 0;
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.nursing-display .post-list img {
    border: 2px solid #fff;
    padding: 0;
}

.post-list-photo-lg img {
    float: none;
    width: auto;
    height: auto;
    border: 1px solid #f2f2f2;
    padding: 3px;
    margin: 0 0 20px 0;
    box-shadow: 0 8px 6px -6px #999;
}

.flex .post-list-photo-lg img {
    width: 100%;
}

.post-list-seasonal img {
    width: 300px;
    margin: 0;
}

.post-list li a,
.post-list .post-title a {
    color: #000;
}

.post-list-photo-lg li a,
.post-list-photo-lg .post-title a {
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0 10px 0;
    line-height: 1.2;
}

.post-list-blocks li a {
    display: block;
    padding: 10px;
    background: #f8f8f8;
    border: 1px solid #e5e5e5;
    margin-bottom: 8px;
    font-size: 14px;
    color: #191919;
    line-height: 1.4;
}

.post-list .lcp_excerpt,
.post-list .lcp_customfield {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

.post-list .lcp_excerpt .more {
    display: block;
    padding-top: 10px;
}

.post-list-seasonal .lcp_title {
    display: none;
}

.post-list-events-h,
.post-list-events-h ul {
    margin: 0;
    padding: 0;
}

.post-list-events-h li {
    padding: 20px;
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
}

.post-list-events-h li:last-of-type {
    border-right: none;
}

.post-list-events-h a {
    font-size: 14px;
}

.post-list-events-h a:hover {
    text-decoration: none;
}

.post-list-events-h .shortdate {
    background: #ffcd00;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.post-list-events-h .shortdate .time {
    margin-left: 10px;
    font-weight: 200;
    text-transform: none;
}

.post-list-events-h h3 {
    margin: 0 0 30px 0;
}

.post-list-events-h p {
    display: block;
}

.post-list-events-h .button2 {
    display: none;
}

.post-list .desc {
    color: #666;
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 14px;
}

.post-list-single li {
    border-bottom: none;
    padding: 0;
    margin: 0;
}

.post-list-single img {
    padding: 2px;
}

.post-list-single .title a {
    font-weight: bold;
}

/* Event list */

.events-list .datebox,
.events-list .content {
    float: left;
}


.events-list .datebox {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background: #ffbd00;
    color: #000;
    padding: 22px 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}

.events-list .datebox + .content {
    width: calc(100% - 100px);
}

.events-list .datebox span {
    display: block;
}

.events-list .datebox-weekday {
    font-size: 14px;
    margin-bottom: 3px;
}




/**
 * 0.0 Video
 * ----------------------------------------------------------------------------
 */
 
.img-video-play {
    position: relative;
} 

.video-play {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    position: relative;
    margin: -90px 0 40px 0;
    left: 20px;
    background: #000;
    height: 50px;
    width: 145px;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}

.image-callout .video-play,
.nursing-grid .video-play {
    display: block;
    position: absolute;
    margin: 0;
    width: 54px;
}

.image-callout .video-play {
    top: 105px;
}

.nursing-grid .video-play {
    bottom: 20px;
}

.video-play .text {
    position: absolute;
    left: 50px;
    top: 14px;
}

.nursing-grid .video-play .text {
    display: none;
}

.entry-header .video-play {
    left: 30px;
}

.video-play:before {
    -webkit-font-smoothing: antialiased;
	font: normal 21px/2.4 FontAwesome;
	content: '\f04b';
	width: 1em;
	color: #fff;
	position: relative;
	left: 20px;
}

a.youtube-link:hover {
    text-decoration: none;
}

.image-callout a.youtube-link:hover {
    text-decoration: underline;
}






/**
 * Pagination
 * ----------------------------------------------------------------------------
 */
 
.pagination {
    text-align: center;
}

.pagination .page-numbers {
    background: #f2f2f2;
    border: 1px solid #fff;
    padding: 14px 24px;
    margin: 5px;
    color: #000;
    font-size: 18px;
}

.nursing-display .pagination .page-numbers {
    background: rgba(255,255,255,0.5);
}

.pagination .page-numbers:hover {
    background: #e9e9e9;
    text-decoration: none;
    cursor: pointer;
}

.nursing-display .pagination .page-numbers:hover {
    background: #fff;
}

.pagination .current,
.pagination .current:hover,
.nursing-display .pagination .current,
.nursing-display .pagination .current:hover {
    background: #fc0;
}


/**
 * 0.0 People Directory
 * ----------------------------------------------------------------------------
 */


.post-type-archive-uwmpeople .content-area .entry-title,
.tax-uwmpeople_classification .content-area .entry-title {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid #ccc;
}

.archive .person-hidden,
.archive .grid .person-hidden,
.archive .list .uwmpeople-building,
.archive .list .uwmpeople-department {
    display: block !important;
}

.archive .uwmpeople-building,
.archive .uwmpeople-department {
    display: none;
}

.archive .grid .uwmpeople-building,
.archive .grid .uwmpeople-department {
    display: none !important;
}

.archive .person {
    width: 23%;
    padding: 2%;
    border: solid 1px #fff;
    border-radius: 4px;
}

.archive .list .person {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
}

.archive .person:hover {
    background-color: #f8f8f8;
    border: solid 1px #e5e5e5;
}

.archive .list .person:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
}

.archive .person img {
    margin-bottom: 8px;
}

.single-person-container .uwmpeople-image {
    margin-bottom: 20px;
}

.single-person-container img {
    width: 100%;
}

.single-person-container h2 {
    margin-top: 50px;
}

.single-person-container .uwmpeople-bio {
    width: 60%;
    padding-top: 20px;
}

.single-person-container .uwmpeople-bio p {
    margin-top: 0;
}

.single-person-container .uwmpeople-details {
    padding-right: 50px;
    padding-top: 20px;
    min-width: 275px;
    text-align: right;
    font-size: 15px;
}

.single-person-container .uwmpeople-contact {
    background: none;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.single-person-container .uwmpeople-classification li,
.single-uwmpeople .uwmpeople-email,
.single-uwmpeople .uwmpeople-phone {
  padding-bottom: 5px;
}

.single-person-container .uwmpeople-classification {
    list-style: none;
    margin: 0;
    padding: 0;
}

.single-person-container .uwmpeople-title-dept {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.single-person-container .uwmpeople-details .uwmpeople-title-dept {
    display: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.single-person-container .degree > * {
    white-space: normal !important;
}

body.single-uwmpeople .site-content {
    position: relative;
}

.single-uwmpeople .view-all {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 14px;
}

.single-uwmpeople .view-all i {
    color: #666;
    padding-right: 10px;
}

.filter-bar .row {
    margin-left: 0;
    margin-right: 0;
}

/* For static (non-plugin) directory listings, e.g. emeritus */

.people-directory-static p {
    margin: 3px 0;
}

.people-directory-static a strong {
    color: #000;
}

.people-directory-static a:hover {
    text-decoration: none;
}

.people-directory-static img {
    margin-bottom: 8px;
    width: 100%;
    display: block;
}

.people-directory-static img {
    margin-bottom: 8px;
}

.people-directory-static .person {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    border: solid 1px #fff;
    font-size: 14px;
    text-align: center;
    line-height: 1.3;
}

.people-directory-static .person:hover {
    background-color: #f8f8f8;
    border: solid 1px #e5e5e5;
}

.people-directory-static.site-content {
    width: 100% !important;
}

/**
 * 0.0 Digital Measures
 * ----------------------------------------------------------------------------
 */

#awards .name,
#grants .grant-title,
#current-research .research-title {
    font-weight: bold;
}

#awards .award,
#grants .grant,
#current-research .current-research-activity {
    margin-bottom: 20px;
}

#current-research .research-title,
#current-research .research-description,
#grants .grant-title,
#grants .grant-sponsor,
#grants .grant-type {
    display: block;
}




/**
 * 0.0 Collapseomatic
 * ----------------------------------------------------------------------------
 */
 
.collapseomatic {
	font-size: 20px;
	font-weight: 200;
	line-height: 1.3;
	background: #fff;
	padding: 20px 20px 20px 60px;
	margin: 0;
	position: relative;
	border: solid 1px #fff;
}

.collapseomatic:hover {
	text-decoration: none;
	background: #f8f8f8;
	border: solid 1px #e5e5e5;
	border-radius: 4px;
}

.collapseomatic:before {
	position: absolute;
    left: 20px;
    top: 18px;
	font: normal 30px/1 FontAwesome;
	padding: 0;
	content: '\f138';
	color: #ffcd00;
}

.colomat-close,
.colomat-close:hover {
	background: #333;
	color: #fff;
	border: solid 1px #333;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.colomat-close:before {
	content: '\f13a';
	color: #ffcd00;
}

.collapseomatic_content {
	margin: 0 0 20px 0;
	padding: 30px;
	background: #f8f8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.collapseomatic_content ul {
    margin: 0;
    padding-left: 20px;
}

.collapseomatic_content li {
    padding-bottom: 10px;
}



/**
 * 0.0 Media Queries
 * ----------------------------------------------------------------------------
 */

@media (max-width: 959px) {

    .single-person-container .uwmpeople-details {
        padding-right: 30px;
        min-width: 225px;
    }
    
}

@media (max-width: 767px) {    
    
    .lead-in {
	    font-size: 20px;
	}
	
	.archive .person {
        width: 40%;
    }
    
}

@media (max-width: 700px) {
    
    .archive .person-container {
        text-align: left;
    }
    
}

@media (max-width: 643px) {

     .single-person-container .uwmpeople-details {
        text-align: left;
        width: 100%;
        max-width: 100%;
        display: block;
    }
    
    .single-person-container img {
        width: 200px;
    }

    
    .single-person-container .uwmpeople-bio {
        display: block;
        width: 100%;
    }
    
    .single-person-container .uwmpeople-details .uwmpeople-title-dept {
        display: block;
    }
    
    .single-person-container .uwmpeople-bio .uwmpeople-title-dept {
        display: none;
    }
    
    .single-person-container .uwmpeople-contact {
        border-top: 0;
    }

}

@media (max-width: 550px) {

    .lead-in {
	    font-size: 18px;
	}
	
}

@media (max-width: 500px) {
    
    .archive .person {
        margin: 0 0 30px 0;
        padding: 0;
        width: 100%;
        font-size: 14px;
        text-align: left;
    }
    
    .archive .person:hover {
        background-color: #fff;
        border: solid 1px #fff;
    }
    
    .archive .person-name {
        padding-top: 0;
    }
    
    .archive .person img {
        width: 80px;
        float: left;
        margin-right: 20px;
    }

}

@media (max-width: 400px) {
    
    .archive .site-content .person img {
        display: block !important;
    }
    
    .archive .site-content .list .person img {
        display: none !important;
    }
    
    .single-uwmpeople .view-all {
        position: relative;
        right: auto;
        top: auto;
        margin-bottom: 30px;
    }

}


/**
 * 0.0 Print
 * ----------------------------------------------------------------------------
 */

@media print {
    
    .widget-area {
        display: block;
    }
    
}