.responsive-tabs .responsive-tabs__heading {
	display: none;
}

.responsive-tabs .responsive-tabs__list__item {
	display: inline;
	cursor: pointer;
}

.responsive-tabs-wrapper { 
	clear: both;
	margin-bottom: 20px;	
	zoom: 1; 
}
.responsive-tabs-wrapper:before,
.responsive-tabs-wrapper:after {
    content: "";
    display: table;
} 
.responsive-tabs-wrapper:after {
    clear: both;
}

.responsive-tabs .responsive-tabs__heading:focus,
.responsive-tabs .responsive-tabs__list__item:focus {
	outline: none;
}

.responsive-tabs .responsive-tabs__heading--active:focus,
.responsive-tabs .responsive-tabs__list__item--active:focus {
	outline: none;
}

.responsive-tabs .responsive-tabs__list {
	margin: 0 0 40px 0;
	padding: 22px 0;
	font-size: 20px;
	font-weight: 200;
	background: #f2f2f2;
	line-height: 1;
}

.responsive-tabs .responsive-tabs__list__item {
	margin: 0;
	padding: 20px 25px;
	background: #f2f2f2;
	line-height: 1;
}
	
.responsive-tabs .responsive-tabs__list__item:hover {
	color: #222;
}

.responsive-tabs .responsive-tabs__list__item--active, 
.responsive-tabs .responsive-tabs__list__item--active:hover {
	background: #ffcd00;
}

.cc-study-abroad .site-content .responsive-tabs .responsive-tabs__list__item--active,
.cc-study-abroad .site-content .responsive-tabs__list__item--active:hover {
    background: #d06f3c;
}

.cc-iwa .site-content .responsive-tabs .responsive-tabs__list__item--active,
.cc-iwa .site-content .responsive-tabs__list__item--active:hover {
    background: #9384b0;
}

.cc-admissions .site-content .responsive-tabs .responsive-tabs__list__item--active,
.cc-admissions .site-content .responsive-tabs__list__item--active:hover {
    background: #aec78f;
}

.cc-students-scholars .site-content .responsive-tabs .responsive-tabs__list__item--active,
.cc-students-scholars .site-content .responsive-tabs__list__item--active:hover {
    background: #78a145;
}

.cc-academics .site-content .responsive-tabs .responsive-tabs__list__item--active,
.cc-academics .site-content .responsive-tabs__list__item--active:hover {
    background: #4e84b2;
}

.cc-research .site-content .responsive-tabs .responsive-tabs__list__item--active,
.cc-research .site-content .responsive-tabs__list__item--active:hover {
    background: #a6c2d8;
}

.responsive-tabs .responsive-tabs__panel {	
	
}

@media (min-width: 768px) {

	.responsive-tabs .responsive-tabs__panel--closed-accordion-only {
		display: block;
	}
}

/* --- ACCORDION  --- */
@media (max-width: 643px) {

	.responsive-tabs .responsive-tabs__list {
		display: none;
	}
	
	.responsive-tabs .responsive-tabs__panel--closed-accordion-only {
		display: none;
	}
	
	.responsive-tabs .responsive-tabs__heading {
		display: block; 
		cursor: pointer;
		padding: 15px 20px;
		margin: 5px 0 0 0;
		position: relative;
		font-size: 20px;
		font-weight: 200;
		background: #f8f8f8;
		line-height: 1.5;
	}
	
	.responsive-tabs .responsive-tabs__heading:after {
		float: right;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font: normal 30px/1 FontAwesome;
		vertical-align: top;
		content: '\f067';
		color: #ccc;
	}

	.responsive-tabs .responsive-tabs__heading:hover {
		background: #f2f2f2;
	}
		
	.responsive-tabs .responsive-tabs__heading--active,
	.responsive-tabs .responsive-tabs__heading--active:hover {
		background: #ffcd00;
	}
	
	.cc-study-abroad .responsive-tabs .responsive-tabs__heading--active,
	.cc-study-abroad .responsive-tabs .responsive-tabs__heading--active:hover {
		background: #d06f3c;
	}
	
	.cc-iwa .responsive-tabs .responsive-tabs__heading--active,
	.cc-iwa .responsive-tabs .responsive-tabs__heading--active:hover {
		background: #9384b0;
	}
	
	.cc-admissions .responsive-tabs .responsive-tabs__heading--active,
	.cc-admissions .responsive-tabs .responsive-tabs__heading--active:hover {
		background: #aec78f;
	}
	
	.cc-students-scholars .responsive-tabs .responsive-tabs__heading--active,
	.cc-students-scholars .responsive-tabs .responsive-tabs__heading--active:hover {
		background: #78a145;
	}
	
	.cc-academics .responsive-tabs .responsive-tabs__heading--active,
	.cc-academics .responsive-tabs .responsive-tabs__heading--active:hover {
		background: #4e84b2;
	}
	
	.cc-research .responsive-tabs .responsive-tabs__heading--active,
	.cc-research .responsive-tabs .responsive-tabs__heading--active:hover {
		background: #a6c2d8;
	}

	.responsive-tabs .responsive-tabs__heading--active:after {
		content: '\f068';
		color: #fff;
	}

	.responsive-tabs .responsive-tabs__panel {
		margin: 0;
		padding: 30px 20px;
		background: #f8f8f8;
	}
}


@media print {
    
    .responsive-tabs .responsive-tabs__list {
		display: none;
	}
	
	.responsive-tabs .responsive-tabs__heading {
		display: block; 
		cursor: pointer;
	}
	
	.responsive-tabs .responsive-tabs__panel--closed-accordion-only {
		display: none;
	}
	    
    .responsive-tabs .responsive-tabs__panel {
        background: #fff;
        margin: 0 0 40px 0;
		padding: 0 20px 20px 20px;
		border-bottom: 1px solid #ccc;
    }
    
    .responsive-tabs .responsive-tabs__panel:last-child {
        border-bottom: none;
    }
    
    .responsive-tabs .responsive-tabs__heading {
        padding: 0;
        margin: 0;
        position: relative;
        font-size: 24px;
        font-weight: bold;
        background: #fff;
    }
    
    .responsive-tabs .responsive-tabs__heading:after {
        display: none;
    }
    
    .responsive-tabs .tabcontent {
        display: block !important;
    }
    
}